<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Insira seu nome de usuário</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="register-username">
    <h1>Bem-vindo ao Chat</h1>
    <form action="/" method="post" id="usernameForm" >
        <label for="username" id="user-label">Insira seu nome de usuário:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit" onclick="your_name()" >Entrar no chat</button>
    </form>
</div>
    
</body>
<script src="static/js/register.js"></script>
</html>
